@model ControleVeiculos.MVC.Models.Funcionarios.FuncionarioModel

@Html.HiddenFor(model => model.FuncionarioID)
<div>
    Deseja realmente excluir o seguinte teste?
    <br />
    <br />
    <ul>
        <li>Funcionário: <strong>@Model.NomeFuncionario</strong></li>
    </ul>
</div>
