@model Lean.Test.Cloud.MVC.Models.TestPackages.TestPackageModel

@Html.HiddenFor(model => model.TestPackageID)
<div>
    Deseja realmente excluir o seguinte pacote?
    <br />
    <br />
    <ul>
        <li>Pacote de Teste: <strong>@Model.PackageName</strong></li>
    </ul>
</div>
