@model Lean.Test.Cloud.MVC.Models.Parameters.ParameterModel

@Html.HiddenFor(model => model.ParameterID)
<div>
    Deseja realmente excluir o seguinte registro?
    <br />
    <br />
    <ul>
        <li>Parâmetro: <strong>@Model.ParameterName</strong></li>
    </ul>
</div>
