<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <connectionStrings>
    <!--<add name="simuladorDetranConnection" connectionString="Server=TW-DBA-008\WISE_HML,48000; Database=SimuladorDetran;User ID=usrAppTecnobank;Password=G$wE25*mn;Connect Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--Test-->
    <!--add name="simuladorDetranConnection" connectionString="Server=TW-DBA-008\WISE_TST,46000; Database=SimuladorDetran;User ID=usrAppTecnobank;Password=G$wE25*mn;Connect Timeout=30;" providerName="System.Data.SqlClient" /-->
    <!--Homolog-->
    <!--<add name="simuladorDetranConnection" connectionString="1rEtpHjVwAO2YXBR2QSqE/6aKj7HDK9KxwwGXGGZ74PUfJZsjICroPJE0xqjFEZxX9N97sAT6TXbhjhYKuLHURMAmp9uGRR99gt8BNlRJGjPDMZjHW+KJuIZXRFXy4DgA1Of/DhUarmZW7psV67uDJ2vetsoy0J1xAz0V8Z00Tc="/>-->
    <add name="LeanTestConnection" connectionString="Server=192.168.39.193,1433; Database=LeanTest;User ID=sa;Password=as;Connect Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="47483647" maxBufferSize="47483647" maxBufferPoolSize="47483647">
          <readerQuotas maxDepth="32" maxArrayLength="47483647" maxStringContentLength="47483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Lean.Test.Cloud.WCF.SimuladorDetranSPService" behaviorConfiguration="Default">
        <endpoint address="" binding="basicHttpBinding" contract="Lean.Test.Cloud.WCF.ISimuladorDetranSPService"
                  behaviorConfiguration="InspectorBehavior" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:56949/SimuladorDetranSPService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Lean.Test.Cloud.WCF.SimuladorDetranPBService" behaviorConfiguration="Default">
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="InspectorBehavior">
          <SimuladorDetranInspectorExtension />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="SimuladorDetranInspectorExtension" type="Lean.Test.Cloud.WCF.Extensions.SimuladorDetranTracing, Lean.Test.Cloud.WCF,&#xD;&#xA;             Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                                                   />
      </behaviorExtensions>
    </extensions>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
