@model ControleVeiculos.MVC.Models.Defects.DefectModel

@Html.HiddenFor(model => model.DefectID)
<div>
    Deseja realmente excluir o seguinte registro?
    <br />
    <br />
    <ul>
        <li>Sumário: <strong>@Model.Summary</strong></li>
    </ul>
</div>
