@model Lean.Test.Cloud.MVC.Models.Profiles.ProfileModel

@Html.HiddenFor(model => model.ProfileID)
<div>
    Deseja realmente excluir o seguinte registro?
    <br />
    <br />
    <ul>
        <li>Perfil: <strong>@Model.ProfileID</strong></li>
    </ul>
</div>
