@model ControleVeiculos.MVC.Models.PositionsSalaries.PositionsSalarieModel

@Html.HiddenFor(model => model.PositionsSalarieID)
<div>
    Deseja realmente excluir o seguinte registro?
    <br />
    <br />
    <ul>
        <li>Cargo e Salário: <strong>@Model.PositionsSalarieID</strong></li>
    </ul>
</div>
