@model ControleVeiculos.MVC.Models.Contacts.ContactModel

@Html.HiddenFor(model => model.ContactID)
<div>
    Deseja realmente excluir o seguinte registro?
    <br />
    <br />
    <ul>
        <li>Contato: <strong>@Model.ContactName</strong></li>
    </ul>
</div>
