@model Lean.Test.Cloud.MVC.Models.Customers.CustomerModel

@Html.HiddenFor(model => model.CustomerID)
<div>
    Deseja realmente excluir o seguinte registro?
    <br />
    <br />
    <ul>
        <li>Nome: <strong>@Model.CustomerName</strong></li>
    </ul>
</div>
