@model ControleVeiculos.MVC.Models.EquipmentAccessories.EquipmentAccessorieModel

@Html.HiddenFor(model => model.EquipmentAccessorieID)
<div>
    Deseja realmente excluir o seguinte equipamento/acessório?
    <br />
    <br />
    <ul>
        <li>Equipamento: <strong>@Model.SerialNumbers</strong></li>
    </ul>
</div>
