
@{
    ViewBag.Title = "- Ajuda";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}

<div class="container-fluid">
    <br />
    <div class="content-header clearfix">
        <h2 class="pull-left">
            @*Ajuda*@
        </h2>
    </div>
    <div style="position:relative" data-spy="scroll" data-target="#myScrollspy" data-offset="1">
        <div class="container-fluid">
            <div class="row">
                <nav class="col-sm-3 col-4" id="myScrollspy">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#section1">Criar um novo gravame</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section2">Exportar arquivo XML</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" href="#section3">Exportar arquivo XML</a>
                        </li>*@
                    </ul>
                </nav>
                <div class="col-sm-9 col-8">
                    <div id="section1">
                        <h1>Criar um novo gravame</h1>                        
                        <p>
                            1) Para @Html.ActionLink("cadastrar um novo", "Criar", "Demand") gravame acesse o menu <mark>GRAVAME</mark>><mark>CADASTRAR</mark>
                            <img src="~/Content/images/cadastro-gravame.jpg" class="img-fluid" width="100%" />
                        </p>
                        <p>
                            2) Preencha todos os campos do formulário (para gerar dados aleatorios para os respectivos campos, clique no botão <strong>GERAR</strong>).
                            <img src="~/Content/images/cadastro-gravame2.jpg" class="img-fluid" width="100%" />                        
                        </p>
                        <p>
                            3) Com todos os campos preenchidos clique no botão <strong>PROXIMO</strong>.
                            <img src="~/Content/images/cadastro-gravame3.jpg" class="img-fluid" width="100%" />                        
                        </p>
                        <p>
                            4) Após preencher todos os dados clique no botão <strong>SALVAR GRAVAME</strong> na última etapa.
                        </p>
                    </div>
                    <div id="section2">
                        <h1>Exportar arquivo XML</h1>
                        <p>
                            Para filtrar todos os registros (de acordo com o filtro aplicado) clique no botão <strong>EXPORTAR</strong> e na opção <strong>EXPORTAR PARA XML</strong>
                        </p>
                    </div>
                    @*<div id="section3">
                        <h1>Section 3</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed dolor congue, mollis quam eget, blandit tortor. Nunc scelerisque mattis justo, vel porta ex condimentum eu. Phasellus sed lacus purus. Morbi sed tellus venenatis, feugiat dui sed, tristique augue. Vivamus sagittis, nulla sit amet tempor scelerisque, lectus risus facilisis eros, et imperdiet urna lectus at nisi. Duis ac accumsan arcu. Duis luctus ornare nibh auctor ornare. Aenean metus sem, eleifend id justo ac, pretium vulputate diam. Sed dignissim lobortis nisl, vitae finibus erat tincidunt in.
                        </p>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>