
@model Lean.Test.Cloud.MVC.Models.Supports.SupportModel

@Html.HiddenFor(model => model.SupportID)
<div>
    Deseja realmente excluir o seguinte registro?
    <br />
    <br />
    <ul>
        <li>Suporte: <strong>@Model.Summary</strong></li>
    </ul>
</div>
