@model Lean.Test.Cloud.MVC.Models.TimeReleases.TimeReleaseModel

@Html.HiddenFor(model => model.TimeReleaseID)
<div>
    Deseja realmente excluir o registro?
    <br />
    <br />
    <ul>
        <li>Data do Registro: <strong>@Model.RegisterDate</strong></li>
        <li>Início: <strong>@Model.StartWork</strong></li>
        <li>Término: <strong>@Model.EndWork</strong></li>
    </ul>
</div>
