@model ControleVeiculos.MVC.Models.Rotas.RotaModel

@Html.HiddenFor(model => model.RotaID)
<div>
    Deseja realmente excluir a seguinte rota?
    <br />
    <br />
    <ul>
        <li>Rota: <strong>@Model.Cidade</strong></li>
    </ul>
</div>
