
@model ControleVeiculos.MVC.Models.SystemParameter.SystemParameterModel

@Html.HiddenFor(model => model.ParameterID)
<div>
    Deseja realmente excluir o seguinte registro?
    <br />
    <br />
    <ul>
        <li>Parâmetro: <strong>@Model.ParamterName</strong></li>
    </ul>
</div>
